<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/icon" href="/img/Favicon/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;700;800&family=Montserrat:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/findus/findus.css">
    <link rel="stylesheet" href="/css/headerandfooter/headerandfooter.css">
    <link rel="stylesheet" href="/css/headerandfooter/headerandfooter-mq.css">
    <title>VFC Urozhay official page | <%= title %></title>
</head>
<body>
    <%- include('./components/header.ejs') %>
    <main>
        <section class="players"> 
        <h1 class="leaders">Лидеры сообщества</h1>
    <ul class="posts">
        <% if (players.length) { %>
            <% players.forEach(({ id, club, date, text, nickname, createdAt, playerImage, nationality, role }) => { %>
        <li>  
    <article class="post-background_wrapper">
    <article class="post-background">
        <div class="player-image">
        <img src="<%= playerImage %>" alt="Игрок">
    </div>
        <p class="post-name"><a class="post-name_color" href="/players/<%= id %>"><strong>Ник:</strong> <%= nickname %></a></p>
        <p class="post-header"><strong>Клуб:</strong> <%= club %></p>
        <p class="post-nationality"><strong>Гражданство:</strong> <%= nationality %></p>
        <p class="post-role"><strong>Амплуа:</strong> <%= role %></p>
        <p class="post-text"><strong>О себе:</strong> <%= text %></p>
        <p class="post-date"><strong>Дата публикации:</strong> <%= createdAt.toLocaleDateString() %></p>
        <svg height="25px" class="thin-cross" data-id="<%= id %>" id="Layer_1" version="1.1" viewBox="0 0 256 256" width="25px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M137.051,128l75.475-75.475c2.5-2.5,2.5-6.551,0-9.051s-6.551-2.5-9.051,0L128,118.949L52.525,43.475  c-2.5-2.5-6.551-2.5-9.051,0s-2.5,6.551,0,9.051L118.949,128l-75.475,75.475c-2.5,2.5-2.5,6.551,0,9.051  c1.25,1.25,2.888,1.875,4.525,1.875s3.275-0.625,4.525-1.875L128,137.051l75.475,75.475c1.25,1.25,2.888,1.875,4.525,1.875  s3.275-0.625,4.525-1.875c2.5-2.5,2.5-6.551,0-9.051L137.051,128z"/></svg>
    </article>
    </div>
</li>
<% }) %>
<% } %>
</ul>
    </section>
</main>
<%- include('./components/footer.ejs') %>
        <script>
            document.addEventListener('click', (e) => {
                const id = e.target?.dataset?.id || null;
                if (id) {
                    fetch(`/players/${id}`, {
                        method: 'DELETE',
                    }).then(() => {
                        window.location.reload();
                    })
                }
            })
        </script>
        <script src="/js/app.js"></script>
</body>
</html>