<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;700;800&family=Montserrat:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/findus/findus.css">
    <link rel="stylesheet" href="/css/headerandfooter/headerandfooter.css">
    <link rel="stylesheet" href="/css/headerandfooter/headerandfooter-mq.css">
    <title>VFC Urozhay official page | <%= title %></title>
</head>
<body>
    <%- include('./components/header.ejs') %>
    <main>
    <ul class="posts">
        <% if (posts.length) { %>
            <% posts.forEach(({ id, title, date, text, author, createdAt }) => { %>
        <li>  
    <article class="post-background_wrapper">
    <article class="post-background">
        <h2 class="post-header"><a href="/posts/<%= id %>"><%= title %></a></h2>
        <p class="post-text"><%= text %></p>
        <div class="post-date-and-name">
            <p class="post-date"><strong><%= createdAt.toLocaleDateString() %></strong></p>
            <p class="post-name"><strong><%= author %></strong></p>
        </div>
        <i class="fas fa-trash-alt" data-id="<%= id %>"></i>
        <button class="btn-delete" data-id="<%= id %>"></button>
    </article>
    </div>
</li>
<% }) %>
<% } %>
</ul>
    </section>
</main>
<%- include('./components/footer.ejs') %>
        <script>
            document.addEventListener('click', (e) => {
                const id = e.target?.dataset?.id || null;
                if (id) {
                    fetch(`/posts/${id}`, {
                        method: 'DELETE',
                    }).then(() => {
                        window.location.reload();
                    })
                }
            })
        </script>
        <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="/js/registrationForm.js"></script>
</body>
</html>